*~
.*~
.DS_Store
.Rhistory
.RData
.RData.rkworkplace
.png
.svg
.gnumeric
git-commands-history.txt
.NZU-charts.r.kate-swp
NZU-charts.r.rkward_autosave
.NZU-monthly-mean.r.kate-swp
NZU-monthly-mean.r.rkward_autosave
